{% extends "layout.html" %}
{% load static %} 

{% block style %} 
    <link rel="stylesheet" href=" {% static "authors.css" %} "> 
{% endblock style %} 

{% block mainContent %}

<div class="authors">
  <img src=" {% static "close-up-photography.png " %} " alt="" />

  <div class="writeup">
    <h1
      style="
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -2px;
        margin-bottom: 20px;
      "
    >
      Hey there, I’m Andrew Jonhson and welcome to my Blog
    </h1>
    <p
      style="
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        color: #6d6e76;
        margin-bottom: 20px;
      "
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim
      nec. Scelerisque viverra mauris in aliquam sem. At risus viverra
      adipiscing at in tellus.
    </p>

    <div class="fnta">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
</div>

<div class="cols2">
  <div class="yellow2"></div>
  <div class="purple2"></div>
</div>

<div class="myposts">
  <h1
    style="
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: -2px;
    "
  >
    My Posts
  </h1>
  <div class="my1">
    <img src=" {% static "stained-glass.png" %} " alt="" />
    <div class="mywrtup">
      <p
        style="
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color:#592EA9;
           margin-bottom: 20px;
           "
           >
           BUSINESS
        </p>
        <h2
        style="
        font-weight: 700;
        font-size: 36px;
          line-height: 48px;
          letter-spacing: -2px;
           margin-bottom: 20px;
        "
        >
        Font sizes in UI design: The complete guide to follow
      </h2>
      <p
      style="
         font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0px;
          color: #6d6e76;
          "
          >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  
  <div class="my1">
      <img src="{% static 'man-in-black-crew-neck.png' %}" alt=""  />
      
    <div class="mywrtup">
      <p
        style="
        font-weight: 600;
        color:#592EA9;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
         "
         >
         BUSINESS
      </p>
      <h2
        style="
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;
        margin-bottom: 20px;
        "
      >
        Font sizes in UI design: The complete guide to follow
      </h2>
      <p
        style="
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0px;
          color: #6d6e76;
        "
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
 
</div> 
{% endblock mainContent %}
